<p id="notice"><%= notice %></p>
<section class="about">
  <h1>Twitter</h1>
  <p>
     Twitterは、Dive into Codeの課題として作成されました。<br>
     好きなことをコメントできます。日頃、心にしまっていることや、イラっときたことを呟いちゃおう。
     運営元は華麗にシカトします。
  </p>
  <p>
     さぁ、呟いちゃいますか<br>
     <%= link_to "つぶやく", new_chat_path, class: 'btn btn-default btn-sm btn-success' %>
  </p>
</section>
