
<section class="top">
<p id="notice"><%= notice %></p>
<h1>twitter</h1>
</section>
<%= render 'form', chat: @chat %>
  
<!--<br>
<%= link_to '戻る', chats_path ,class:'btn btn-default btn-sm btn-success'%>
