<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
     <header>
      <ul>
       <li><a href="/">トップページ</a></li>
      </ul>
    </header>
    <footer>
     <p>Dive into code 課題７</p>
    </footer>
     <%= yield %>
  </body>
</html>
